article {
    background-color: #FFF;
    margin: 0 10vw 0 10vw;
    padding: 2vh 8vw;
}

article h1 {
    margin: .6em 0;
    font-size: 3em;
    font-family: 'Newsreader', serif;
    color: rgb(137, 204, 70);
}

.subtitle {
    color: rgb(163, 163, 163);
    font-weight: 500;
}

.banner {
    margin: 1em 0;
    width: 100%;
}

h2 {
    margin: 1em 0;
}

h3 {
    margin: .8em 0;
}

p {
    margin: .6em 0;
}