@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Newsreader&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: rgb(20, 20, 20);
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(141, 173, 108);
    width: 100%;
    height: 16vh;
}

header .home {
    position: relative;
    width: 4em;
    left: 18vw;
    top: 50%;
    transform: translateY(-50%);
}

header h1{
    color: #FFF;
    position: relative;
    display: inline-block;
    left: 24vw;
    height: 100%;
}

footer {
    background-color: rgb(141, 173, 108);
    width: 100%;
    height: 8vh;
}