<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">    
    <title>Notícias da Hora</title>
</head>
<body>
    <header>
        <img class="home"src="../static/home.png">
        <h1>Notícias Da hora</h1>
    </header>
    
    <section class="news">
        <div>
            <img class="banner" src="">
            <h1>Title</h1>
            
        </div>
    </section>

    <footer>

    </footer>
</body>
</html>