<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css')}}">    
    <title>Notícias da Hora</title>
</head>
<body>
    <header>
        <a href="/">
            <img class="home"src="../static/home.png">
        </a>
        <nav>
            <ul class="menu">
                <li><a href="/business">business</a></li>
                <li><a href="/entertainment">entertainment</a></li>
                <li><a href="/health">health</a></li>
                <li><a href="/science">science</a></li>
                <li><a href="/sports">sports</a></li>
                <li><a href="/technology">technology</a></li>
            </ul>
        </nav>
    </header>
    
    <section class="articles">
        {% for article in articles %}

            <div class="article-preview">
                <a href="{{article.url}}">
                    <img class="banner" src="{{article.urlToImage}}">
                    <div class="text">
                        <h1 class="title">{{article.title}}</h1>
                        <p class="description">{{article.description}}</p>
                    </div>
                </a>
            </div>

        {% endfor %}
    </section>

    <footer>

    </footer>
</body>
</html>